[2018-12-20 07:45] davvidbaker opened #1 "How to run locally?"
Trying to run the examples locally with `npm run examples` and getting stuck.

I saw that the `examples` folder is `gitignored`–is that correct? Should there be a `package.json` in there that has a `start` script?

Thanks for xstate btw. Just started trying it out and really digging it 🤙

[2018-12-20 15:15] davidkpiano commented on #1
Thanks! This is just a React app and I don't intend it for public use (just to be open-sourced) so I can't exactly help there.

[2018-12-20 17:46] davvidbaker commented on #1
For sure. Thanks.

[2018-12-20 17:46] #1 closed

[2018-12-20 19:49] drorspei commented on #1
Oh bummer :(
I was thinking on working on this, adding history tab and ability to go back and forth.

[2018-12-20 20:02] davidkpiano commented on #1
@drorspei You still can! If you can get it running (should be pretty straightforward), feel free.

I just won't be spending time writing docs on this codebase, is what I'm saying. At least not yet.

[2019-01-16 16:34] kachkaev opened #2 "Allowing definition to be a JSON"
I've been playing with state charts and have found the [online vizualizer](https://statecharts.github.io/xstate-viz/) quite useful. Thank you for working on it @davidkpiano 🙌!

One minor improvement idea that came to my mind is about copy-pasting state machines to the _definition_ tab. At the moment, the `<AceEdit>` component only accepts a function and does not understand a JSON. This means that

[2019-01-16 17:00] davidkpiano commented on #2
Yep, this is in the works. I'm working on redoing the visualizer to accept (and output) JSON.

[2019-01-17 14:08] createthis opened #4 "We need a way to run this locally."
PR incoming

[2019-01-17 14:11] createthis commented on #4
@davidkpiano It's quick and dirty, and maybe overly complex, but the HapiJS server is what I know, so I thought I would provide this. See PR #5.

[2019-01-17 14:41] carloslfu commented on #4
Hi, I think it would be great to have a way to run ´xstate-viz´ locally. I'm working on a tool for doing this too. IMO the cleaner way is to pack ´xstate-viz´ as a React component and publish it on NPM so other projects can depend on it. Once published we can easily use it for ´xstate-cli´ or other projects that allow local/offline use or other tooling projects. I can contribute with the setup of

[2019-01-17 14:49] createthis commented on #4
@carloslfu I think either way is fine. I just want to make it more accessible with clear instructions so people can use it.

I'm noticing the styles are messed up in this local run version and the update button doesn't work. Not sure what's up with that.

[2019-02-07 18:31] RyanMcG opened #6 "Prominently add an open source license."
@davidkpiano thank you for making this code available.

The `package.json` has license: MIT, but I think it would be ideal if the full MIT license text was included in source code somewhere too (e.g. a `LICENSE` file).

I am not a lawyer. I am not sure if this is strictly necessary but it is a very common practice (one  https://github.com/davidkpiano/xstate follows).

[2019-02-07 18:39] davidkpiano commented on #6
I'd be happy to accept a PR for this.

[2019-02-07 19:22] #6 closed

[2019-02-14 02:04] cpetzel opened #8 "Minor UI issues with latest master running locally"
Thanks so much for this wonderful visualizer! It was great to use as we created our first machine, but it ended up growing in complexity, where we could not simply copy and paste the config into this online visualizer.

We ended up forking it, and tried to configure this code to accept a machine as a prop (instead of relying on the json editor to recreate a machine every time). This works, but the

[2019-02-15 04:07] m-oscartong commented on #8
I also encounter similar issue, the transition lines between states are no longer curves and the connector dots becomes very huge that cover the whole page, which looks very different from the online visualizer 🤔. I end up grabbing the source code from the online visualizer and continue my work on top of that 😂

[2019-02-15 19:13] davidkpiano commented on #8
Ah yeah, I was changing the algorithm for calculating the paths, and I guess I didn't change it back 😅 Still working on this.

[2019-02-25 13:01] lndgalante opened #9 "[Bug] Circle above visualization"
I tried `xstate-viz` different versions with CRA and CodeSandbox and I always get this issue:

<img width="408" alt="captura de pantalla 2019-02-25 a la s 09 58 34" src="https://user-images.githubusercontent.com/2475912/53339094-17880580-38e4-11e9-8a47-570da758a90f.png">

[2019-02-25 13:19] lndgalante commented on #9
@davidkpiano I just fixed copying the styles from https://statecharts.github.io/xstate-viz

Maybe a possible solution is to add the following styles using [createGlobalStyle](https://www.styled-components.com/docs/api#createglobalstyle)

[code]

[2019-02-27 06:32] m-oscartong commented on #8
Any update on this issue? 🤔

[2019-02-27 14:59] davidkpiano commented on #8
Try using the `gh-pages` branch.

This repo is mainly meant to host the current visualizer - the new one is being created in a private repo.

[2019-03-30 23:32] feelextra opened #10 "`assign` import is not defined"
Used the following config:
[code]
I just pulled this config straight out of my code, and thought it should work.

However when I click **UPDATE** button an alert pops up saying:
[code]

This is the error in the console:
[code]

For reference, this is where I use this machine config, together with a small React component:
https://codesandbox.io/s/github/feelextra/react-xstate-playgrounds/tree/maste

[2019-03-31 10:44] feelextra commented on #10
UPDATE:

It seems from the `package.json` that the `gh-pages` branch which the Demo Visualizer app depends on is still version 4.1.0

In order to make of use the `assign`  function from `xstate` library available in the editor, we need to have `assign` be an exported value.

Apparently, until version 4.3.0, `assign` wasn't being exported.

Here is the implementation from the source code:
[code]
Th

[2019-04-03 01:25] #10 closed

[2019-04-03 01:25] davidkpiano commented on #8
Fixed in `master`

[2019-04-03 01:25] #8 closed

[2019-04-03 01:25] davidkpiano commented on #9
Fixed in `master`

[2019-04-03 01:25] #9 closed

[2019-04-03 14:06] sphire opened #11 "Delay animation does not restart"
Following up from the earlier [issue](https://spectrum.chat/statecharts/general/visualizer-issue~79e1060e-00db-4ce2-bfc2-f8015bb18036) there still seems to be a minor bug in the visualizer.

## Observed Behavior
Right now, using the same machine as before the delay animation runs for 3000ms then sits at 100% if `ACTIVITY`-Events have been fired during the delay.

## Expected Behavior
The animation

[2019-04-23 15:28] RohitRajendran commented on #4
I was able to get this running locally by following these steps:

1. Run `npm i` in both the root and in /public
1. In root, run `npm link`
1. In public, run `npm link @statecharts/xstate-viz`
1. In root, run `npm run develop`

[2019-05-15 21:45] coodoo opened #15 "How about making the viz a drop-in visualizer to any application?"
I just did a quick POC to make `xstate-viz` a drop-in visualizer in a react app so that it could be toggled on and off as needed, [see it in action here](https://cl.ly/2c4ac21653a0)

Sample code below, basically the viz component lives with-in the real project and will be updated whenever the machine content was changed.

As a side note, it would be great to toggle show/hide of the sidebar by an a

[2019-05-15 23:55] carloslfu commented on #15
I was thinking about a less intrusive option. The option is using a hook that collects metadata in development mode of all statecharts in your app and automatically shows a debugger window (with a button or with a keyboard shortcut). It'll allow you to navigate over all your statecharts and if possible change the state. All this would be done with a global config. Maybe implementing it as an exper

[2019-05-16 06:48] coodoo commented on #15
Sounds good to me! 👍👍

[2019-05-22 07:14] czebe opened #16 "Storybook layout"
Including the visualizer in Storybook (which would be the natural place as it's a living documentation) looks pretty bad. It works fine, but styling is all over the place. It's not really possible to override styles/apply theming as it's using styled components:

![image](https://user-images.githubusercontent.com/2728671/58154285-8d94d200-7c71-11e9-9ef0-edb2c0915c51.png)

What would be the best ap

[2019-05-22 12:57] davidkpiano commented on #16
Use an iframe? Or open it up in a separate window. That storybook's styles leak is completely their fault, and not the responsibility of the visualization component.

[2019-05-23 13:37] sam-at-work opened #17 "support `entry` and `exit` key names on states."
With the latests update on xstate, we can now use `entry` and `exit` as aliases for `onEntry` and `onExit`. But these do not get rendered in xstate-viz

[2019-05-26 14:19] farskid commented on #15
I recently got the visualizer working locally on my React + TS codebase by a similar approach. Following a discussion with @davidkpiano, I'm working on a small CLI to be able to open visualizer for any machine the same way tools like webpack-bundle-analyzer work. Therefore, anyone would be able to open visualize all the machines in their codebase using es modules and file path references.

[code]

[2019-05-26 14:21] farskid commented on #15
Also if you're looking for a sneak peek into how it works for right now, here are two files from the project.

https://github.com/farskid/hslzone/blob/master/src/components/App/AppWithMachine.tsx
https://github.com/farskid/hslzone/blob/master/src/components/Viz.tsx

[2019-05-27 15:56] danguilherme commented on #2
Is it feasible to also add a query string that accepts the machine definition, just like in the [older version](https://musing-rosalind-2ce8e7.netlify.com/)? (https://musing-rosalind-2ce8e7.netlify.com/?machine=uri_encoded_machine_json)

[2019-05-28 01:14] davidkpiano commented on #2
I'd say it's feasible. The worry would be that the encoded JS would be executable, which can get nasty... I'll have to research sandboxing approaches, or translate it to JSON first.

[2019-05-28 07:48] danguilherme commented on #2
In this case you would only accept a JSON definition, so if it's not parseable by `JSON.parse(window.decodeURIComponent(definitionString))`, it can be ignored.

But in the end it's just a nice to have...

[2019-05-29 17:51] carloslfu commented on #15
Great, @farskid!

[2019-06-03 00:26] gabewillen commented on #4
Once @davidkpiano adds the submachines(Actors) to the visualizer. I will package this into an Electron app that can be used on most platforms.

[2019-07-03 15:54] ako977 opened #19 "Can't perform a React state update on an unmounted component"
This seems to usually occur on state change (usually during development when a hot reload occurs on the `watch`)

[code]

[2019-07-26 16:45] amitnovick opened #20 "Visualizer doesn't properly handle the `done.invoke.serviceName` event"
The following Machine config fails to transition from `loading` to `sucess` state.
The transition should trigger after a service named `fetch` is invoked, i.e. on `done.invoke.fetch` event.

[code]

Visualizers tried:
- older one: https://statecharts.github.io/xstate-viz/
- newer one: https://xstate.js.org/viz/

EDIT: Apparently this part is not related to the issue:
~~The following warning is pri

[2019-07-26 16:52] amitnovick opened #21 "Sharing gist URLs appended to new Visualizer URL not working"
# Expected Behaviour:

When visiting the URL, the public gist at the appended URL should be loaded into the Visualizer and shown successfully.

# Observed Behaviour:

Provided the following XState Visualizer URL:
https://xstate.js.org/viz/?gist=https://gist.github.com/amitnovick/7649b9c077e0946474712ac25d15b5b8

When visited, the console should print the following error:
[code]
And the Loading...

[2019-07-26 17:05] amitnovick commented on #21
Potential source of the issue:
The name of the file uploaded in the gist above is `FetchingMachine.js`, which fails to load in Visualizer appendend URL.

The following is the same source code, uploaded in a different gist named `machine.js`, which succeeds to load:
https://gist.github.com/amitnovick/8aa1caaffb383e73477f60dc4577781d

[2019-07-26 17:13] mettjus commented on #21
Maybe this could be made overwritable via URL (i.e: `&file=FetchingMachine.js`).

[2019-07-26 17:40] amitnovick commented on #21
Ah, so basically you're describing a scenario where somebody might want to upload a gist with multiple JS modules each exporting a default machine value, and have one machine import the rest and compose its' configuration with them, e.g. with `src`

So in that case we  would want to instruct the Visualizer which module should be the entry point that should be visualized, which would be a harder to

[2019-07-26 21:51] mettjus commented on #21
I wasn't so far ahead with my proposal, even it could be certainly possible. I was just taking considering, as a next step, the opportunity to have multiple machines packed into a single gist, without requiring a gist for every machine.

[2019-07-26 21:56] #17 closed

[2019-07-26 22:32] mettjus commented on #21
I made a PR: https://github.com/statecharts/xstate-viz/pull/22

[2019-07-26 22:34] mettjus commented on #21
It only concerns fetching from gist, not saving to.

[2019-07-27 00:06] mettjus commented on #20
The warning you reported is the normal warning that's printed by `xstate` when an invocation is reached and the corresponding service implementation (passed via the 2nd param to `Machine` or `withConfig`) has not been provided (i.e: https://codesandbox.io/s/xstate-no-service-found-for-invocation-nmsus). I think it's expected behavior.
BTW I just tried the Visualizer and I don't get the warning...

[2019-07-27 09:55] amitnovick commented on #20
Ah I see! never noticed the warning before so I assumed it's somehow related

[2019-07-27 10:00] amitnovick commented on #20
Yep! that's exactly the issue.

Renamed the Issue title to that

Thanks! appreciate the help :-)

[2019-08-02 17:13] michaelsbradleyjr opened #23 "Track guard state behind-the-scense when exiting, clear on entering"
I did an experiment trying to understand the green/red/grey visualization behavior in relation to null events and their guards:

https://xstate.js.org/viz/?gist=fbbd5dab67c92587cd726648ad1fa212

I was attempting to use a pure `state.matches(...)` approach but found that can't work (if the green/red behavior is desired) because when the visualizer runs the guards in the context of states to which t

[2019-08-02 17:27] michaelsbradleyjr commented on #23
I realized there can still be a bit of visual ambiguity:

![image](https://user-images.githubusercontent.com/194260/62387595-a139a000-b520-11e9-952e-a246e9cafff2.png)

I arrived at that visualization by event sequence: `DID_START_B -> DID_START_A -> STOP`.

So it seems that when the target/s of a guarded transition are exited, it should also result in clearing the tracked guard state.

[2019-08-09 12:29] alizbazar opened #24 "Clicking on resolve on promise service does not work"
One of the greatest powers of the statechart visualizer is being able to walk through the chart interactively emitting events by clicking on them.

However, when invoking a service that returns a promise, it's only possible to emit "reject" event, but not "resolve" one. Is there a reason for this?

Example: https://xstate.js.org/viz/?gist=54229b2f52861004ffc8a70017189391

[2019-08-10 03:17] davidkpiano commented on #24
This now works as expected.

[2019-08-10 03:17] #24 closed

[2019-08-10 14:37] davidkpiano commented on #20
This event is now handled. #24

[2019-08-10 14:37] #20 closed

[2019-08-12 13:17] abierbaum opened #25 "Feature Suggestion: Include offset in "unexpected token" syntax error"
Thanks for the great tool.  It is working wonderfully.

I have machine configurations that work in code, but I want to visualize.  So I paste them into the visualizer but invariably there is a syntax error to resolve.  (for example removing typescript parameter types).

As it stands right now, I get a syntax error in the console about "Unexpected token X".  It would be very helpful if the code tha

[2019-08-16 19:45] alizbazar commented on #24
That's awesome! Thank you! 💯

[2019-08-29 10:01] Andarist opened #29 "Ship version with new XState version"
exit/entry are not displayed in current visualizer, I've debugged this a little and I can see in StateNode's constructor this:
<img width="574" alt="Screenshot 2019-08-29 at 11 56 44" src="https://user-images.githubusercontent.com/9800850/63930941-93f6cf00-ca54-11e9-9c42-5c11530d3a17.png">
Looks like `.entry`/`.exit` are not handled at all here, which is odd because the specified version of xstate

[2019-09-05 05:52] malcolm-kee opened #30 "Browser DevTools?"
First of all, thanks for creating this site, it makes xstate so much enjoyable to use 😄

I was thinking of browser devtools (something like redux devtools) version of this, and planning to dive in to figure out how to do that.

Are you aware of any such effort or is it already implemented by someone?

[2019-09-05 21:48] davidkpiano commented on #30
I'd like to start this effort soon!

[2019-09-16 09:26] amitnovick opened #31 "Uncaught Error: Unable to evaluate guard '...' in transition for event"
Loading the Visualizer with machine configurations that omit a guard's implementation currently cause the triggering of an error when an attempt is made to transition through it.

Minimal reproduction:
https://xstate.js.org/viz/?gist=1ffa4c658bffb2db8d3a7528d75cb774

Suggested solution:
Implement all omitted guard implementations as a function returning `true`, allowing users to transition through

[2019-09-16 09:35] amitnovick commented on #30
Really happy to see that more people are interested in this! let's make it happen.

[2019-09-16 09:48] coodoo commented on #30
Out of curiosity, how does this gonna work in the end as you would provision?

[2019-09-16 10:01] amitnovick opened #32 "Error: Cannot read property 'indexOf' of undefined"
## Description
Tried to load the example [React TodoMVC `todoMachine`](https://codesandbox.io/s/xstate-todomvc-33wr94qv1?from-embed) into the Visualizer and the app crashed with the issue's title as an error logged into the `console`.

## Minimal Reproduction
[The source gist](https://gist.github.com/amitnovick/6dbc4122edab05053cc516854984a16c)

[Visualizer loaded with the gist](https://xstate.js.

[2019-09-16 10:22] amitnovick commented on #30
Not OP, but I'm also interested in developing this, and personally my first target is UI development.

I'm thinking to re-use this `devTools` [machine config option](https://xstate.js.org/docs/guides/interpretation.html#options) for instrumenting any browser extension available that we deem to be compatible (we can just hard-code the compatible ones, just like Redux DevTools is currently hard-code

[2019-09-16 20:37] amitnovick opened #33 "Feature Request: Improve Diagram Layout"
## Description

Currently, the Visualizer layout algorithm isn't producing very readable diagrams.
The following is a comparison between a diagram produced by PlantUML to one made by XState-Viz:

[PlantUML diagram](https://user-images.githubusercontent.com/43674238/64988521-4becfe80-d8d4-11e9-9bfa-d4be332bcb1e.png) from [source Gist](https://gist.github.com/amitnovick/f548817b7389311edeef2a751ccab

[2019-09-16 22:53] davidkpiano commented on #33
Might be useful to implement some pathfinding algorithm to find the most optimal path around state nodes to a target state node which avoids "areas of interest" (such as state names, event labels, actions, etc.)

[2019-09-16 23:41] coodoo commented on #30
Thanks @amitnovick for the elaboration.

So you imagine while the program is running, you get to see the inner states of the statechart in the devtools, which probably also come with a nice visualization by the side?

[2019-09-17 08:25] amitnovick commented on #30
Yep, that functionality comes out of the box with XState-Viz.

[2019-09-17 18:22] amitnovick opened #34 "Error:"
## Description
Loading [this Visualizer](https://xstate.js.org/viz/?gist=542633174593b0d8472f2a6fd5e99b50) with [this Gist](https://gist.github.com/amitnovick/542633174593b0d8472f2a6fd5e99b50) triggers the following error:
[code]

[2019-09-17 18:55] amitnovick commented on #34
OK found out what the problematic part is: the `delay` configuration seems to break something.

## Minimal reproduction
- [Gist](https://gist.github.com/amitnovick/29e2b66d357df34da4b18ec4faced54f)
- [Visualizer](https://xstate.js.org/viz/?gist=29e2b66d357df34da4b18ec4faced54f)

[2019-09-17 19:04] amitnovick commented on #34
In the Minimal Reproduction Gist I had a `delay` function defined in-line, which should work according to [the Docs](https://xstate.js.org/docs/guides/delays.html#delayed-transitions).

However, switching out the `delay` function with a string with the value of a function defined in the `delays` options seems to make the error go away:

[code]

[2019-09-18 09:55] davidkpiano commented on #31
We shouldn't do this because it will do different behavior than if you were to use the exact same machine in an application. It _should_ error out because the guard needs to be defined.

That is, why assume it returns `true` rather than `false` (which I would do)?

This ambiguity should be highlighted, and we can display some sort of error that the guard cannot be evaluated because it is not imple

[2019-09-18 10:11] amitnovick commented on #31
@davidkpiano
Yea I agree... `true` is arbitrary here, it could be `false` just as well.

For it to be useful, the developer must be the one to decide which value the guard should take.

Currently, it's not clear which guards aren't implemented when loading a configuration that omits them.

Ideally, the Visualizer would:
- Display which guards were omitted
- Provide a control widget where you can c

[2019-09-20 04:23] mcspud commented on #31
I think perhaps we should get some clarity on the purpose of the visualizer for this.
I am currently using the "config" section of the Machine clearly to show to end users how the workflow will work, including letting them "click through" and play with outcomes/scenarios.  This is being done as a tech spike at a large Australian bank, and the possibility to automatically "export" our process docum

[2019-09-20 05:48] howlowck opened #35 "There are two versions of the visualizer online."
## Issue:
Currently there seems to be two versions of the XState Visualizer online: an older version on Github Pages, and a newer version on xstate.js.org.  If anyone, like me, has the Github Page bookmarked, they won't be able to access the newer version.

## Solution:
Maybe the Github Page could redirect to the xstate.js.org page, or add a banner on the Github Page to tell users to go to the xst

[2019-09-20 05:48] howlowck opened #36 "There are two versions of the visualizer online"
## Issue:
Currently there seems to be two versions of the XState Visualizer online: an older version on Github Pages, and a newer version on xstate.js.org.  If anyone, like me, has the Github Page bookmarked, they won't know to access the newer version.

## Solution:
Maybe the Github Page could redirect to the xstate.js.org page, or add a banner on the Github Page to tell users to go to the xstate

[2019-09-20 05:53] howlowck commented on #35
(I guess when you are on slow internet, and you click on the Submit button twice. it will create two issues) Sorry!

[2019-09-20 05:53] #35 closed

[2019-09-20 08:08] amitnovick commented on #36
I also opened an issue about the same thing on the [statecharts.github.io repo](https://github.com/statecharts/statecharts.github.io/issues/40). Not sure which repo is more appropriate, but at least wanted to mention it.

[2019-09-20 10:36] amitnovick commented on #31
How about an additional tab for displaying and controlling the default values of omitted implementations?

![xstate-viz-defaults-v2](https://user-images.githubusercontent.com/43674238/65320803-5c8ac680-dbab-11e9-908f-de218306a32d.png)

[2019-09-21 12:09] davidkpiano commented on #36
It now redirects.

[2019-09-21 12:09] #36 closed

[2019-09-26 11:53] shmidt-i commented on #32
The problem is in `sendParent(ctx => ...)` notation. Function `ctx => ` is an event, and don't have `type` and `indexOf` of undefined is not available. Probably different versions of xstate in example and in viz?

[2019-09-26 13:25] amitnovick commented on #32
A little confused by this, would love to get a clarification.

The `sendParent(...)` [function](https://github.com/davidkpiano/xstate/blob/master/src/actions.ts#L241) is based on `send()` [function](https://github.com/davidkpiano/xstate/blob/master/src/actions.ts#L175).

Apparently, if the first argument (`event`) provided to `sendParent` [is a function](https://github.com/davidkpiano/xstate/blob/

[2019-09-26 13:36] shmidt-i commented on #32
Sorry, will try to submit a PR fixing this tomorrow, too busy at work now :)
Basically you are right and the fix is super easy:

Change
[code]
to this
[code]
in `src/StateChartAction.tsx` line 97

[2019-10-02 00:35] amitnovick commented on #30
This is coming very soon!

Here's [🎞️ sneak peek video](https://twitter.com/amitnovick/status/1179178482699513856) showcasing the capabilities of the current proof of concept that I had fun developing during the past week.

[2019-10-02 10:40] amitnovick commented on #30
I'm adding a list selection UI for letting users choose which service to visualize among all currently running ones (rather than just assuming there's just one running service like it does now).

In my mind that's a necessary feature that all of us who have used the Redux DevTools extension come to expect.

[2019-10-02 11:04] amitnovick commented on #30
## Roadmap
1) Upload my (only slightly modified) fork of XState to a repo and publish it on npm for early adopters to try out and report bugs.
2) Upload my XState DevTools extension to a new repo and making the extension available to Chrome users
3) Merging the fork into the next XState release (if it's good quality 👌)
4) Publishing the XState DevTools extension on the Chrome Web Store (the proces

[2019-10-05 21:52] amitnovick commented on #30
😅 Hope you'll like to hear some update on this:
- Added a list selection UI for choosing which service to display.
- Fixed some cases like services being stopped and handling them properly.

Here's a short test I did to see that the UI is being updated correctly when a service is stopped 🎞️ [Twitter video (because GitHub doesn't support videos)](https://twitter.com/amitnovick/status/11806005435693

[2019-10-07 19:58] amitnovick commented on #30
Made some progress on it, and wanted to share the state of the latest snapshot:
- Added a header to the top with the "screen selection" drop-down
- Added the "States" tab to the side-panel

Very useful at this point! next thing I'm going to add is the "Events" tab to the side-panel 🌟

![2019-10-07_22-52-49](https://user-images.githubusercontent.com/43674238/66343957-5f303e80-e955-11e9-8685-fd90e62

[2019-10-09 20:36] amitnovick commented on #30
Today's progress:
- Added the "Events" tab to the side-panel
- Implemented a new trigger: refresh of page now triggers refresh of DevTools (as expected)

Really happy with it at this point! almost at feature-parity with the existing Redux DevTools alternative: the only feature not present is the diff of state of every event that has been processed.

![2019-10-09_23-05-31](https://user-images.githu

[2019-10-10 18:03] sesm commented on #15
I would much prefer a visualization tool that generates SVG from state machine objects. This way it would be framework-agnostic and potentially usable from command line.

[2019-10-14 10:56] sesm commented on #32
Encountered the same issue, and the fix above solved it. Created a PR

[2019-10-14 13:07] #32 closed

[2019-10-16 16:47] adam-cyclones commented on #30
@amitnovick, is there anywhere I can get hold of a code? I'm happy to use it in this 'state' pun intended. Looking good.

[2019-11-01 21:37] jnhooper opened #38 "Difficulty interacting with visualizer in storybook"
I'm trying to add a simple visualizer to storybook to accompany hooks that will be wrapped around state machines. Everything displays perfectly, however click interactions dont seem to work. I'm able to tab to the button and hit enter to trigger an event, and if i go into the events panel of the visualizer i can send an event but clicking doesnt work. I'm hoping to use this to demonstrate the inne

[2019-11-07 17:43] RainerAtSpirit opened #39 "Feature request: Provide <Preview> component"
Running a local version of xstate-viz like in the public folder works, but it would be even better if we could provide a `<Preview machine={myMachine} />` component that allows passing in a machine instance regardless if developed in typescript or javascript.
In addition when using `<Preview />`  the `<StateChart previewOnly={true}>` component would remove some functionality that is not required w

[2019-11-08 12:01] RainerAtSpirit opened #40 "Statepanel not updating"
Looks like `Statepanel` updates are broken since https://github.com/statecharts/xstate-viz/commit/1bcf09421562a4f249eeb5611771304174f65d2b

![xstate-viz](https://user-images.githubusercontent.com/581644/68475153-9bdaa880-0227-11ea-80e7-70060e0fe2d1.gif)

[2019-11-11 13:26] #40 closed

[2019-11-22 17:28] kyleshevlin opened #43 "`send` action creator and event expressions"
According to the docs, the `send` action creator can receive an expression to determine the event to send: `(context, event) => eventToSendObject`.

Because of this, `sendAction.event.type` leads to an error here, because `type` is undefined if `sendAction.event` is a function.

https://github.com/statecharts/xstate-viz/blob/886273165175b0dd69f2e9c5303f9e9ba595a0c4/src/StateChartAction.tsx#L99

![

[2019-12-09 12:01] chenxsan opened #44 "Changes to definition panel are missing."
![Kapture 2019-12-09 at 19 57 54](https://user-images.githubusercontent.com/1091472/70434141-57f4f080-1abe-11ea-87aa-ea4663fbf11f.gif)

Thought it was introduced in https://github.com/statecharts/xstate-viz/commit/1bcf09421562a4f249eeb5611771304174f65d2b

[2019-12-09 12:39] #44 closed

[2020-01-03 22:25] jdpigeon commented on #33
Integrating cola.js into the cytoscape-based graph viz may be enough to make nice force-directed graph layouts. This example could be useful: https://js.cytoscape.org/demos/colajs-graph/

[2020-01-04 19:55] riddla commented on #15
@sesm, are you aware of https://github.com/lucmartens/xstate-plantuml?

[2020-01-04 20:03] riddla commented on #15
@farskid, I am very interested in your work. As I'm working much in Vue codebases these day, there might also be a change to use the visualizer components via https://github.com/akxcv/vuera ...

[2020-01-04 20:07] farskid commented on #15
@riddla Thanks for sharing plantuml project and the kind words :) we're working on the a vscode extension for the visualization. stay tuned.

[2020-01-07 13:36] carloslfu commented on #33
I was playing with https://github.com/OpenKieler/elkjs and it works pretty well. [SCION](https://gitlab.com/scion-scxml/scion) a project in which XState is a backer, has a visualizer https://gitlab.com/scion-scxml/schviz which uses KlayJS that is an older version of ELKjs and it works. One option I evaluated is to modify https://gitlab.com/scion-scxml/schviz to support the XState format and this w

[2020-01-30 03:59] IceSentry opened #48 "Feature Request: Dark Theme"
I'm probably not the first one to ask, but I haven't seen any issue on the subject. A dark theme would be pretty nice since most other developer tools have a dark theme.

I can make a PR if you want. I'm just not sure how you would prefer it to be implemented. Obviously, it's gonna use a state machine to keep the state of the toggle between the light and dark theme. I see you are already using sty

[2020-01-30 12:18] davidkpiano commented on #48
I'm reworking the visualizer and it will indeed have themes!

[2020-02-02 05:28] 11111000000 opened #49 "Cannot resolve dependency 'xstate/lib/graph'"
there is no branch without that issue?

[2020-02-03 01:35] davidkpiano commented on #49
This package is not meant for general consumption. Please wait for the `@xstate/viz` package to be released.

[2020-02-03 01:35] #49 closed

[2020-02-04 21:08] davidlav opened #50 "Forbidden transition resets visualization to initial state"
The machine below requires moving through states `stepOne` and `stepTwo`, _in addition to_ requiring an approval.  The `approved` context property ought to be able to be set at any state (i.e. `start`, `stepOne`, `stepTwo`, or `awaitingApproval`) as it is independent of what "stage" you're at.  It is, however, a necessary condition for reaching `success`.

This implementation (credit to @semopz) s

[2020-02-07 15:32] PetrSnobelt opened #51 "fix visualizer event for guards"
Hi, while playing with guards I realised, that visualizer used state.event which don't contain correct event, so I try to fix it.

It still don't allow use params set in editor, but imo it is better then before

https://github.com/statecharts/xstate-viz/pull/47

[2020-03-05 14:15] mapicard opened #58 "Where to find my saved 'viz'"
XState and this Visualizer is so cool, thanks a lot for these tools.
Not that long ago I had to write VBA macros in microsoft Visio to generate ObjectiveC code for my machine !!!
The only thing though, I need to be logged in to save a machine, but when I'm logged in, where can I find my saved machines ???

[2020-03-05 16:03] davidkpiano commented on #58
Hey thanks! You can find them on https://gist.github.com

[2020-03-05 16:03] #58 closed

[2020-03-05 16:28] mapicard opened #59 "Run/simulate/animate the machine"
Hi,
Is it possible to simulate the machine running in the Visualizer?
It would also be nice to animate the visual machine with current state, token, actions.
tx

[2020-03-05 17:04] mapicard commented on #59
Just found out everuthing's under the Events tab SEND button! ;-/

[2020-03-05 17:04] #59 closed

[2020-03-12 05:55] wbunting opened #60 "VSCode extension"
(not sure this should be here or on Spectrum as it's more of a discussion than issue, feel free to kick me there)

I think it would be awesome if there was a vscode extension that could generate the statecharts from a highlighted code block. The UX I have in mind is:

1. highlight the machine code (what you would copy to the current visualizer site).
2. Hit some key combination to execute the "Vis

[2020-03-12 05:58] wbunting commented on #60
Okay I found a spectrum thread in similar vein -- will defer to that

[2020-03-12 05:58] #60 closed

[2020-03-20 09:15] goldenratio opened #62 "cannot find module 'xstate/lib/graph'"
Hi,
I am trying to run the build locally, getting this error.

cannot find module 'xstate/lib/graph'
https://github.com/statecharts/xstate-viz/blob/master/src/StateChart.tsx#L22

Realized I need to change import to @xstate/graph, but it doesn't have `getEdges` function

[2020-03-20 12:25] davidkpiano commented on #62
This is not meant to be consumed publicly. Please wait for the `@xstate/viz` package.

[2020-03-20 12:25] #62 closed

[2020-03-22 17:13] qtiki opened #63 "Visualizer does not show activities"
**Description**

The visualizer does not show state activities at all.

**Expected Result**

The visualizer should show activities in a similar manner as invoked services.

**Reproduction**

https://xstate.js.org/viz/?gist=d114ffd788befbe352abddcf3819194b

[2020-05-02 10:43] nixtaxe opened #65 "Crushing because of null assignment to context value"
**Description**
I was playing around with the state machine from this [article](https://dev.to/davidkpiano/no-disabling-a-button-is-not-app-logic-598i) and then tried to visualize it but due to my mistake in code the page crushed with an error "TypeError: "e.assignment[n] is null"".
I didn't expect visualizer to crush.

**Reproduction**
[code]

[2020-05-02 12:56] davidkpiano commented on #65
I'm working on a new visualizer which will not have this problem.

[2020-05-13 14:48] tclain commented on #33
If we want to go one step further and want to have an bidirectionnal editing experience (from diagram to code), do we want to reinvent the wheel ?

Could we investigate a more robust diagram base, so we can plugin graph layouts and interactivity ?

@davidkpiano thoughts appreciated.

anyway I'd like to experiment on that.

[2020-05-13 17:10] ls-timothee-clain opened #66 "choose action is not supported"
The choose action is described in the doc and very useful.

Right now xstate-viz chokes on it.

What would be the workaround in the mean time ?

[2020-05-13 19:39] ls-timothee-clain commented on #66
I'm using a transient state / or a wrapped `pure` action  to handle this king of multi choice transitions for now.
If anyone has a better approach, feel free to share !

[2020-05-13 19:47] carloslfu commented on #33
@tclain, I think https://github.com/OpenKieler/elkjs works pretty well. I am not sure but I think @davidkpiano is working on an improved visualizer, I saw something about it on Twitter.

[2020-05-13 19:51] tclain commented on #33
thanks @carloslfu ! will take a look. I think that having stable xstate viz/editor will be definitely a huge step. @davidkpiano I'm on that personnally, if I can help in any way let me know.

[2020-05-14 21:31] ZempTime opened #67 "Usage of Visualizer in other places"
**Description**
I'm trying to use `<StateChart>` to render out various machines in our system, so business folks and devs can peek their heads in and see what's going on.

What I'm running into is:

<img width="1608" alt="Screen Shot 2020-05-14 at 4 20 01 PM" src="https://user-images.githubusercontent.com/3596468/81987204-d110ea80-95fe-11ea-95db-70803cb3cc49.png">

whch appears to be referencing t

[2020-05-15 13:31] davidkpiano commented on #67
There will be a ready-made component in the XState repository itself for this.

If you want to play around with it now, it's `@xstate/viz` 🕵️

It's not ready for release but if you're eager, you can look around and try to make it work locally!

[2020-05-20 13:31] bwalsh commented on #67
Tried starting @xstate/viz example.  Use npm link, etc.   No luck.  No errors during build or start, but rendered blank page.
@davidkpiano  ^

[2020-05-20 13:44] davidkpiano commented on #67
@bwalsh

It's up to you right now to figure out how to make it work. Or you can wait until it's publicly released.

[2020-06-11 16:04] Indrajeetsing commented on #15
Hello @farskid, I tried running your code and I'm getting following error.
Error: Can't resolve 'xstate/lib/graph' in 'node_modules\@statecharts\xstate-viz\lib'

Do you know how can I fix it?

[2020-07-11 21:57] philscrace2 commented on #62
Appears as thought there is a breaking change on sha-221a0 or sha-b4be1 - If you update to sha-aa9f5, set the package.json to  "xstate": "4.6.7" without the ^, force the install of the xstate version like this 'npm install --save --save-exact react', then npm i react-scripts, then npm i, then npm run develop. Once the browser loads fix the URL to http://localhost:3000/. Visualizer now runs :) :) :

[2020-07-12 16:02] philscrace2 commented on #62
It's the minor version change from 4.6.7 -> 4.7.0-rc1 that causes the breaking change. @davidkpiano how do I match versions to git-sha's? npm repository does not show me the correspondence between those two things and the releases are not labelled in the source tree

[2020-07-12 17:59] philscrace2 commented on #62
It's the minor version change from 4.6.7 -> 4.7.0-rc1 that causes the breaking change.

[2020-07-13 22:48] 0000marcell commented on #15
@Indrajeetsing  it's a dependency error, you probably need to install the dependencies again

[2020-08-18 22:21] teijo commented on #15
@Indrajeetsing Seems that the `0.3.0` release of this package is expecting to find that file, which does not exist anymore in the latest `xstate` package. The latest version of `xstate` conforms to `^4.6.4` of `0.3.0` version requirement, but internally `xstate` have moved the graph file, possibly to `@xstate/graph`.

You'd need to lock your `xstate` dependency to `"xstate": "4.6.4"` in your app i

[2020-08-23 12:54] cybervaldez opened #71 "xstate-viz not up to date with current version of xstate?"
Since it's stated on the docs that null events are being deprecated for 'always' i've been using the latter instead but it doesn't seem to work with the online viz which kinda leaves me in a conundrum. Just need some advice if I should just revert back to null transitions for now?

[2020-08-23 23:53] davidkpiano commented on #71
I'm working on a new visualizer but I'll try to get the current one running with the latest version.

[2020-08-28 18:12] asan opened #72 "Loop transition not working inside parallel state node."
So loop transition(may be not best name, do you have some naming convention for this type?) example:
https://xstate.js.org/viz/?gist=a4538161db2a559666e1ce8440a871d4
Transition executes every second, you can say it by animation and console.log.

But if we put it inside parallel state node:
https://xstate.js.org/viz/?gist=98768528bb1b95c6236cde367c18ebc5
It triggers exactly one time.

Not sure is i

[2020-08-31 17:46] hediet commented on #67
I think this visualization would be an awesome addition for the [debug visualizer extension for VS Code](https://github.com/hediet/vscode-debug-visualizer/tree/master/extension).

Sadly, the xstate visualizer is broken currently, otherwise I could easily integrate it!

[2020-08-31 17:51] davidkpiano commented on #67
@hediet Check out the Keyframers stream at 5 PM today. I'll be releasing the works-anywhere visualizer soon.

[2020-09-03 22:04] alizbazar commented on #71
That would be great. This issue (https://github.com/davidkpiano/xstate/issues/42) is still present in the currently published visualizer, although fixed in `master`. Is there any way we could help?

[2020-09-03 23:00] davidkpiano commented on #71
Please use the new inspector: https://xstate.js.org/docs/packages/xstate-inspect

[2020-09-04 08:51] alizbazar commented on #71
So awesome!!! 🚀😎

[2020-09-24 23:46] dmitrynovik opened #74 "The app does not build"
Hi,

I am following the instructions as per README

Problem 1: `'react-scripts' is not recognized as an internal or external command,`
That was easy to fix ... forked the code, created a branch, ran

Problem 2: a slew of compile errors:
[code]

[2020-09-25 13:30] davidkpiano commented on #74
Please use [XState Inspect](https://xstate.js.org/docs/packages/xstate-inspect/) instead.

[2020-09-29 07:00] dmitrynovik commented on #74
Hi David,

Is `@xstate/inspect` code open source? I don't seem to find it under the `@xstate`.

The reason I'm asking is that in my case inspect fails because the native `JSON.stringify` is not capable of handling circular references (there are alternatives which can e.g. `fast-json-stable-stringify` )

[2020-09-29 12:58] davidkpiano commented on #74
@dmitrynovik Can you post this [as an XState issue](github.com/davidkpiano/xstate/issues/new)?

It is open-source, in the `viz` branch.

[2020-10-30 06:14] wildskyf opened #75 "confirm dialog before tab close"
To avoid accidentally closing tag...
I have lost my code many times because closing wrong page. (Q_Q)

Ref: https://stackoverflow.com/a/31503077

[2021-02-06 19:22] kyleshevlin commented on #43
Hey @davidkpiano, I know this is a super old issue, but is this still worth fixing (I see the code still exists)? Or has this work largely been replaced by new visualization work?

I'm happy to submit a fix if this is worth doing. Can you provide some direction?

[2021-02-25 18:33] #43 closed

[2021-04-10 13:03] martinklepsch commented on #67
It seems that https://statecharts.io/ has examples of using a visualizer.

[2021-04-24 10:11] raitucarp opened #81 "Cannot use send actions creator"
this code below throw an error, when I implement send actions creator:

[code]
Error:
[code]

[2021-04-24 12:06] davidkpiano commented on #81
Please use the [XState inspector (CodeSandbox template)](https://codesandbox.io/s/xstate-viz-template-f3dtr) instead.

More info: https://xstate.js.org/docs/packages/xstate-inspect/

[2021-04-24 12:06] #81 closed

[2021-05-13 07:30] serhiipalash commented on #15
@piku0709 great!

[2021-06-10 13:11] hamboomger opened #89 "TypeError: m is not a function; there are no delays declarations"
Since there are no delays declarations, I don't think it's related to https://github.com/statecharts/xstate-viz/issues/34.
Here's a [code snippet of machine](https://gist.github.com/hamboomger/ff17029aef057c916d2a96a30966d9e2)
Error:
[code]

[2021-06-10 13:56] davidkpiano commented on #89
We're working on updating the visualizer.

Please use the [XState inspector (CodeSandbox template)](https://codesandbox.io/s/xstate-viz-template-f3dtr) instead.

More info: https://xstate.js.org/docs/packages/xstate-inspect/

[2021-06-10 13:56] #89 closed

[2021-09-14 19:13] richtera opened #98 "Various problems with the visualizer"
The current app is no very resilient to states which are too complex and throw an error during JSON serialize. The safe JSON does return a value, but it removes repeated values and ends up removing things the state needs like _event. So once the state has a JSON problem it won't be sent to the visualizer correctly.
The old visualizer has problems with not allowing scrolling inside of the state pan

[2021-09-15 00:38] richtera commented on #98
Hmmm, should defects be here or in statelyai/xstate-viz?

[2021-11-01 17:02] VanTanev opened #100 "State machine crashes the new viz, works on the old viz"
Crashes the viz:

[code]

Produces:
[code]

[2021-11-17 11:26] VanTanev commented on #100
Closing in favor of https://github.com/statelyai/xstate-viz/issues/313

[2021-11-17 11:26] #100 closed

[2022-02-17 04:57] codingedgar commented on #31
If I chick a transition, shouldn't that mean the guard is returning true? otherwise, I would click the other transition, right? At least for the click scenario, I see the guarded transitions as two distinct transitions, I'm guessing that's not what is happening.

I'm using the viz in vscode, and there's no way (i think) to send a specific event with payload, but regardless I just want to play with